* {
  box-sizing: border-box;
  margin: 0;
  font-family: inter;
  scrollbar-width: none;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f7;
}
/* navbar fixed */
nav {
  width: 100%;
  height: 44px;
  display: flex;
  gap: 24px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f7cc;
  position: fixed;
}
.navbar_logo {
  width: 14px;
  height: 17px;
}
.navbar_search {
  width: 15px;
  height: 44px;
}
.bag {
  width: 14px;
  height: 44px;
}
/* navbar end */
span {
  font-family: inter;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: #1d1d1f;
  padding-top: 60px;
}
.color {
  width: 100%;
  height: 100px;
  margin-top: 15px;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  gap: 20px;
  width: 100%;
  padding-left: 140px;
  padding-right: 140px;
}
.header {
  display: flex;
  gap: 30px;
}
h1 {
  background-image: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 50%,
    #f2416b 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 44px;
}
h2 {
  font-size: 44px;
  font-weight: 700;
  color: #6e6e73;
}
.Specialist {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: end;
}
.specialist1 {
  display: flex;
  gap: 10px;
}
main img {
  width: 35px;
  height: 35px;
}
main p {
  font-size: 14px;
  font-weight: 700;
}
main a {
  font-size: 14px;
  font-weight: 700;
  color: #0066cc;
  text-decoration: underline;
}
section {
  width: 100vw;
  height: 145px;
  padding-left: 140px;
  display: flex;
  margin-top: 80px;
  gap: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
section img {
  width: 120px;
  height: 78px;
}
section p {
  margin-top: 15px;
}
.small-text {
  font-size: 24px;
  font-weight: 700;
  padding-left: 140px;
  display: flex;
  gap: 5px;
  margin-top: 50px;
}
.small-text h1 {
  font-size: 24px;
  font-weight: 700;
}
.small-text h2 {
  font-size: 24px;
  font-weight: 700;
}
/* products AAAAAAAAA */
.Thelatest {
  display: flex;
  width: 100%;
  height: 500px;
  gap: 20px;
  padding-left: 140px;
  margin-top: 30px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.Thelatest div {
  min-width: 480px;
  height: 500px;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
h6 {
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
}
h4 {
  font-size: 26px;
  font-weight: 700;
}
.Thelatest p {
  font-size: 18px;
  font-weight: 400;
  color: #1d1d1f;
}

.latest1 {
  background-image: url(./store-card-50-holiday-iphone-pro-202411_GEO_US.png);
  background-size: cover;
}
.latest2 {
  background-image: url(./store-card-50-holiday-watch-s10-202411.png);
  background-size: cover;
}
.latest2 h4 {
  margin-top: 25px;
}
.latest3 {
  background-image: url(./store-card-50-holiday-ipad-mini-202411.png);
  background-size: cover;
}
.latest4 {
  background-image: url(./store-card-50-holiday-macbook-pro-202411.png);
  background-size: cover;
}
/* product2 aaakjaas */
.personal {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-left: 140px;
  margin-top: 30px;
  scrollbar-width: none;
}
.personal div {
  border-radius: 20px;
}
.personal1 {
  background-image: url(./personal_item_1.png);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 400px;
  font-size: 26px;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 70px;
}
.personal2 {
  min-width: 313px;
  height: 500px;
  background-color: white;
  padding-top: 71px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}
.items {
  width: 270px;
  height: 12px;
  display: flex;
  gap: 7px;
  justify-content: center;
}
.items img {
  width: 12px;
  height: 12px;
}
h6 {
  margin-top: 30px;
}
.price1 h3 {
  margin-top: 10px;
  width: 257px;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 159px;
}
#price {
  margin-top: 44px;
}
.personal3 {
  min-width: 313px;
}
.personal3 img {
  margin-top: 20px;
}
#personal .personal3 img {
  margin-top: 0;
  margin-left: 15px;
}
.personal4 {
  background-image: url(./holiday_item_1.png);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 400px;
  font-size: 26px;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 70px;
}
.personal4 p {
  width: 290px;
}
/* ///// */
.only_at_apple {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-left: 140px;
  margin-top: 30px;
  scrollbar-width: none;
}
.only1 {
  min-width: 480px;
  height: 500px;
  background-image: url(onlyatapple_1.png);
  font-size: 26px;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 50px;
  border-radius: 30px;
}
.only1 p {
  width: 305px;
  height: 500px;
}
.only2 {
  min-width: 313px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.grid1 {
  min-width: 238px;
  height: 240px;
  background-color: white;
  font-size: 22px;
  font-weight: 700;
  padding-top: 82px;
  padding-left: 30px;
  padding-right: 55px;
  border-radius: 30px;
}
.only3 {
  min-width: 480px;
  height: 500px;
  background-image: url(onlyatapple_2.png);
  font-size: 26px;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 50px;
  border-radius: 30px;
  gap: 10px;
}

.p1 {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
}
.p2 {
  margin-top: 10px;
  width: 330px;
}
