* {
  box-sizing: border-box;
  margin: 0;
  font-family: inter;
}
@media (max-width: 768px) {
  .box {
    width: 100%;
  }
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* navbar fixed */
nav {
  width: 100%;
  height: 44px;
  display: flex;
  gap: 24px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f7cc;
  position: fixed;
}
.logo {
  width: 14px;
  height: 44px;
}
.search {
  width: 15px;
  height: 44px;
}
.bag {
  width: 14px;
  height: 44px;
}
/* navbar end */
span {
  font-family: inter;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: #1d1d1f;
  padding-top: 60px;
}
/* main product name */
/* first */
main {
  background-image: url(./background1.jpg);
  width: 100%;
  height: 692px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter;
  gap: 16px;
}
h1 {
  font-size: 52px;
  color: white;
  font-weight: 600;
  margin-top: 50px;
  padding-top: 36px;
}
p {
  font-size: 24px;
  color: white;
  font-weight: 400;
}
main div {
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  padding:
    left 20px,
    right 20px,
    top 12px,
    bottom 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.learn {
  width: 123px;
  height: 44px;
  background-color: #0071e3;
  color: white;
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.buy {
  width: 68px;
  height: 44px;
  color: white;
  border-radius: 30px;
  background-color: transparent;
  border: solid 1px #0071e3;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* firstend */
/* main second */
#main {
  background-image: url(./Figure.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 8px;
}
/* second end */
/* main third  */
.main {
  background-image: url(./apple.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 692px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: end;
  padding-bottom: 100px;
}
.main h1 {
  color: black;
}
.main p {
  color: black;
}
.shop {
  width: 114px;
  height: 44px;
  background-color: #0071e3;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 16px;
}
/* main end */
/* products */
.product {
  width: 100%;
  height: 1764px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-top: 12px;
}
.product figure {
  width: 49%;
  height: 580px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product h1 {
  font-size: 36px;
}
.product p {
  font-size: 18px;
  font-weight: 400;
}
.product .buy {
  color: #0071e3;
}

#ipad {
  background-image: url(./ipadair.png);
}
#ipad img {
  width: 250px;
  height: 33px;
  margin-top: 40px;
}
#ipad p {
  color: black;
  font-weight: 400;
  margin-top: 15px;
}
#ipad span {
  margin-top: 300px;
  font-size: 14px;
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.more {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}
#airpods {
  background-image: url(./airpodspro2.png);
  display: flex;
  justify-content: end;
  padding-bottom: 50px;
}
#macbook {
  background-image: url(./macbookair.png);
}

#macbook h1 {
  color: black;
  margin-top: 15px;
}
#macbook p {
  color: black;
  margin-top: 5px;
}

#watch {
  background-image: url(./watch.png);
}
.vector {
  width: 28px;
  height: 33px;
  position: relative;
}
#watch h1 {
  display: flex;
  width: 161px;
  height: 61px;
  gap: 8px;
  color: black;
  font-weight: 700;
  font-size: 32px;
  margin-top: 15px;
}
#watch h4 {
  font-size: 14px;
  margin-top: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}
#watch p {
  color: black;
  margin-top: 8px;
}

#tradein {
  background-image: url(./tradein.png);
}
#tradein h1 {
  color: black;
  gap: 8px;
  display: flex;
  font-size: 32px;
  margin-top: 15px;
}
#tradein p {
  color: black;
  font-size: 18px;
  line-height: 24px;
  width: 322px;
  text-align: center;
  margin-top: 8px;
}
#tradein .learn {
  width: 167px;
  margin-top: 10px;
}
#card {
  background-image: url(./card.png);
}
#card h1 {
  color: black;
  font-size: 32px;
  display: flex;
  gap: 8px;
  margin-top: 15px;
}
#card p {
  width: 322px;
  color: black;
  text-align: center;
  margin-top: 8px;
}
#card .buy {
  width: 112px;
}
#card .more {
  margin-top: 10px;
}
.carousel {
  width: 100%;
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  gap: 20px;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  animation: spin 30s infinite linear;
}

.page {
  width: 417px;
  height: 237px;
  background-size: cover;
}
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
.group :hover {
  animation-play-state: paused;
}
#page1 {
  background-image: url(./1.jpg);
}
#page2 {
  background-image: url(./2.jpg);
}
#page3 {
  background-image: url(./3.jpg);
}
#page4 {
  background-image: url(./4.jpg);
}
#page5 {
  background-image: url(./5.jpg);
}
#page6 {
  background-image: url(./6.jpg);
}
#page7 {
  background-image: url(./7.jpg);
}
#page8 {
  background-image: url(./8.jpg);
}
#page9 {
  background-image: url(./9.jpg);
}
#page10 {
  background-image: url(./10.jpg);
}

/* hajuu tishe hucheer huduldg */
.media {
  width: 100%;
  height: 668px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.media div {
  width: 1250px;
  height: 668px;
  flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
  scroll-snap-align: center;
}
.item1 {
  background-image: url(./napoleon.jpg);
}
.item2 {
  background-image: url(./bad-monkey.jpg);
}
.item3 {
  background-image: url(./baseball.jpg);
}
.item4 {
  background-image: url(./instigators.jpg);
}
.item5 {
  background-image: url(k-pop-idols.jpg);
}
.item6 {
  background-image: url(lady-in-the-lake.jpg);
}
.item7 {
  background-image: url(./morning-show.jpg);
}
.item8 {
  background-image: url(pachinko.jpg);
}
.item9 {
  background-image: url(pressumed-innocent.jpg);
}
.item10 {
  background-image: url(season-pass.jpg);
}
.dot a {
  width: 12px;
  height: 12px;
  background: gray;
  border-radius: 50%;
  display: inline-block;
}
.dots {
  display: flex;
}
